body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.skill-list {
  margin-bottom: 25px;
  padding-left: 18px;
}

.skill-list li,
.timeline-highlights li {
  color: #646f87;
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 8px;
}

.timeline-highlights {
  margin-top: 12px;
  padding-left: 18px;
}

.vertical-timeline-element-content .timeline-highlights {
  list-style: disc;
}

.vertical-timeline-element-content .timeline-highlights li {
  list-style: disc;
}
